/*this style is general one for every page*/
* {
    box-sizing: border-box;
  }
/*removing unnecesaary default margins and padding*/
body, html, ul{
    margin: 0;
    padding: 0;
}
/*style forheader and its child elements*/
header{
    padding: 5px;
    height: 50px;
    background-color: #231f20;
    color: white;
}

header nav ul{
    margin-top: 10px;
    margin-left: 15px;
    list-style-type: none;
}
header nav ul li{
    font-family: "ALK Sanet", sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin-left: 1%;
}
/*this is for underline animation*/
header nav ul li:after{
    width: 0%;
    content: '';
    margin-top: 8px;
    display: block;
    height: 3px;
    background-color: red;
}
header nav ul li:first-child:after{
  width: 0%;
  content: '';
  margin-top: 8px;
  display: block;
  height: 3px;
  background-color: transparent;
}
header nav ul li:nth-child(7):after{
  width: 0%;
  content: '';
  margin-top: 8px;
  display: block;
  height: 3px;
  background-color: transparent;
}
/*specifing the time for transition*/
header nav ul li:hover:after{
    width: 100%;
    transition: 0.3s linear;
}

a{
    text-decoration: none;
    color: white;
}
/*styling the logo image*/
.logo{
    cursor: pointer;
    vertical-align: middle;
    height: 30px;
}
/*footer styles*/
footer{
    color: white;
    height: 100px;
    text-align: center;
    background-color: #231f20;
}
/*styling the footer social networks list*/
.flex-cont{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: auto;
    
}

.child{
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(130, 124, 124);
}
/*effect on hover*/
.child:hover{
    cursor: pointer;
    background-color: rgb(71, 70, 79);
}
.child a > img{
    height: 100%;
    border-radius: 50%;
}
/*special class for returning to the normal flow*/
.clear{
    clear: both;
}

/*here goes the sidebar menu styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left 0.5s;
  }
  /*here goes the responsive design styles for different resolutions*/
@media only screen and (max-width: 900px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
   .nav{
       font-size: 13px;
   }
  }
  @media only screen and (max-width: 800px){
      .nav{
          visibility: hidden;
      }
      .child{
        margin: 0;
        width: 30px;
        height: 30px;
      }
  }

  @media only screen and (max-width: 300px){
    .flex-cont{
      width: inherit;
    }
  }
